services:
  app:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ~/.ssh:/opt/yijunx/.ssh
      - ../.devcontainer/zshrc:/opt/yijunx/.zshrc
      - ..:/opt/yijunx/code
    command: ["tail -f /dev/null"]

  redis:
    image: "redis:alpine"
    command: redis-server --requirepass sOmE_sEcUrE_pAsS

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false  # Disable security (optional for development)
      - ES_JAVA_OPTS=-Xms1g -Xmx1g   # Set JVM options
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ../es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"  # Elasticsearch API
      - "9300:9300"  # Elasticsearch transport

  kibana:
    image: docker.elastic.co/kibana/kibana:8.9.0
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"  # Kibana web interface